@page
{
    size: letter;
    margin: 0mm;
}

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 1.333vh;
    color: #222222;
}

body {
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

ul {
    margin: 0;
    padding-left: 3vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 77.27vh;
    background-color: #ffffff;
    margin: auto;
}

/* -- Header section -- */

.header {
    flex: 0 0 17.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    background-color: #333f49;
}

.header-title {
    position: relative;
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 3.8vh;
    padding: 1vh 5vh 1.5vh 5vh;
    border: 1vh solid #ffffff;
    border-radius: 0.2vh;
}

.header-subtitle {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size:1.75vh;
    transform: translate(-50%, calc(50% + 0.5vh));
    background-color: #ffffff;
    color: #333f49;
    padding: 0.25vh 0.75vh;
    white-space: nowrap;
}


/* -- Body section -- */

.content {
    flex: 0 0 82.5vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* -- Left section -- */
.left {
    flex: 0 0 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh;
    background-color: #f9fafa;
}


/* -- Right section -- */
.right {
    flex: 0 0 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh;
}


/* -- Generic -- */
.section {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 2.5vh;
}

.section-header {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 2vh;
    text-transform: uppercase;
    color: #333f49;
    margin-bottom: 1.5vh
}

.line {
    width: 100%;
    margin-bottom: 0.33vh;
}


/* -- Utility -- */
.bold {
    font-weight: bold;
}

.space-1 {
    margin-bottom: 0.4vh;
}

.space-2 {
    margin-bottom: 0.8vh;
}

.space-3 {
    margin-bottom: 1.25vh;
}

.space-4 {
    margin-bottom: 2vh;
}

* {
    box-sizing: border-box;
}